/* Frame
   ================================================== */
html, body {
    background-color: rgb(245, 245, 245);
    height: 100%;
}


.wrapper {
    height: 100%;
    min-height: 650px;
}

.content {
    min-height: 100%;
    margin: 0 auto -40px; /* The bottom margin is the negative value of the footer's height */
}

footer {
    height: 40px;
}


/* General
   ================================================== */
h1 {
    margin-bottom: 30px;
}

    h1 a, h1 a:hover {
        color: inherit;
    }

.link-btn:hover {
    cursor: pointer;
    text-decoration: none;
}


.result-error, .result-no-data {
    margin-top: 5px;
    font-size: 14px;
}

.options-horizontal > span + span:before {
    color: #aaa;
    content: "/\00a0";
    padding: 0 3px;
}

.modal-header {
    padding-bottom: 0;
}

.modal-body {
    padding-top: 0;
    padding-bottom: 0;
}


/* Helpers
   ================================================== */
/* Similar to Bootstraps text-left class, but with !important */
.text-left {
    text-align: left !important;
}

/* Similar to Bootstraps text-center class, but with !important */
.text-center {
    text-align: center !important;
}

.inline {
    display: inline-block;
}
